<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ExtendedApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Cat Cube"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/CatCube"
        >
        <activity android:name=".MainMapActivity"
            android:label="El Map"
            android:theme="@style/CatCube"></activity>
        <activity android:name=".Bottom_Nav_Bar"></activity>

        <activity android:name=".Guide_Activity6" />
        <activity android:name=".Guide_Activity5" />
        <activity android:name=".Guide_Activity4" />
        <activity android:name=".Guide_Activity3" />
        <activity android:name=".Guide_Activity2" />
        <activity android:name=".Guide_Activity1" />
        <activity
            android:name=".GuideList"
            android:label="Guide Mista"
            android:theme="@style/CatCube" />
        <activity
            android:name=".Nav_MainToolbar"
            android:label="yeet"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".PostCommentsActivity"></activity>
        <activity android:name=".NewPostActivity" />
        <activity android:name=".ShoutboardActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBm7GZ50gWJtx7VSLHeoyuEmEqAYpcT7b8" />

        <activity android:name=".MapActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".TrapDetails" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrapList"
            android:theme="@style/CatCube" />
    </application>

</manifest>